BODY {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; BACKGROUND: url(images/bgBody.gif) #ffffff repeat-x 0px 0px; COLOR: #000; FONT-SIZE: 16px; PADDING-TOP: 0px
}
* {
	PADDING-BOTTOM: 0px; FONT-STYLE: normal; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.H100 {
	HEIGHT: 100px; OVERFLOW: hidden
}
.MHome .H100 {
	HEIGHT: 180px
}
.MHome {
	POSITION: relative; MARGIN: auto; WIDTH: 805px
}
.logo {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 132px; PADDING-TOP: 60px
}
.searchHome {
	WIDTH: 100%; HEIGHT: 34px
}
.searchDivHome {
	LINE-HEIGHT: 34px; HEIGHT: 34px
	position:relative;
	margin:0 auto;
}
.searchDivHome FORM {
	padding-top:5px;
	WIDTH: 500px;HEIGHT: 34px
	position:relative;
	margin:0 auto;
}
.searchInputHome {
	BORDER-BOTTOM: #006fda 1px solid; POSITION:relative ;BORDER-LEFT: #006fda 1px solid; PADDING-BOTTOM: 7px; PADDING-LEFT: 8px; WIDTH: 500px; PADDING-RIGHT: 8px; FONT: 16px arial; BACKGROUND: #fff; HEIGHT: 20px; COLOR: #484848; VERTICAL-ALIGN: top; BORDER-TOP: #006fda 1px solid; BORDER-RIGHT: #006fda 1px solid; PADDING-TOP: 5px; LEFT: 0px
}
.searchBUtton {
	BORDER-BOTTOM: medium none; POSITION: absolute; BORDER-LEFT: medium none; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 1px; WIDTH: 80px; PADDING-RIGHT: 0px; HEIGHT: 34px; COLOR: #fff; FONT-SIZE: 1.0em; OVERFLOW: hidden; BORDER-TOP: medium none; CURSOR: pointer; RIGHT: 0px; FONT-WEIGHT: bold; BORDER-RIGHT: medium none; WORD-SPACING: 4px; PADDING-TOP: 0px
}
.searchBUttonOn {
	BORDER-BOTTOM: medium none; POSITION: absolute; BORDER-LEFT: medium none; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 1px; WIDTH: 80px; PADDING-RIGHT: 0px; HEIGHT: 34px; COLOR: #fff; FONT-SIZE: 1.2em; OVERFLOW: hidden; BORDER-TOP: medium none; CURSOR: pointer; RIGHT: 0px; FONT-WEIGHT: bold; BORDER-RIGHT: medium none; WORD-SPACING: 4px; PADDING-TOP: 0px
}
.searchBUtton {
	BACKGROUND: url(images/bgPointBlue.gif) 0px 0px
}
.searchBUttonOn {
	BACKGROUND: url(images/bgPointBlue.gif) 0px 0px
}
.autocomplete {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #A4A4A4 #A4A4A4;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #A4A4A4;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 0 3px 6px #AAAAAA;
    overflow: auto;
}
.autocomplete > div {
    border: medium none;
    padding: 10px;
}
.autocomplete > div + div {
    border-top: 1px solid #EEEEEE;
}
.autocomplete .selected {
    background: none repeat scroll 0 0 #EDFDFF;
}
.autocomplete strong {
    color: #009BCF;
}
.autocomplete-w1 { background:url(images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:0px 0 0 0px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #a4a4a4; border-top:none; background:#FFF; box-shadow:0 3px 6px #AAA; -moz-box-shadow:0 3px 6px #AAA;-webkit-box-shadow:0 3px 6px #AAA; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;overflow:auto;}
.result {
    padding-top:10px;
    position:relative;
    margin:auto;
    width:805px;
}
.keywords {
	color:#f30;
	display:inline;
}
#mytable {  
     width: 800px;  
     padding: 0;  
     margin: 0 auto;  
    }  
    caption {  
     padding: 0 0 5px 0;  
     width: 700px;   
     font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;  
     text-align: right;  
    }  
    th {  
     font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;  
     color: #4f6b72;  
     border-right: 1px solid #C1DAD7;  
     border-bottom: 1px solid #C1DAD7;  
     border-top: 1px solid #C1DAD7;  
     letter-spacing: 2px;  
     text-transform: uppercase;  
     text-align: left;  
     padding: 6px 6px 6px 12px;  
     background: #CAE8EA;  
    }  
    th.nobg {  
     border-top: 0;  
     border-left: 0;  
     border-right: 1px solid #C1DAD7;  
     background: none;  
    }  
    td {  
     border-right: 1px solid #C1DAD7;  
     border-bottom: 1px solid #C1DAD7;  
     background: #fff;  
     font-size:13px;  
     padding: 6px 6px 6px 12px;  
     color: #4f6b72;  
    }  
      
    td.alt {  
     background: #F5FAFA;  
     color: #797268;  
    }  
    th.spec {  
     border-left: 1px solid #C1DAD7;  
     border-top: 0;  
     background: #fff;  
     font: bold 10px;  
    }  
    th.specalt {  
     border-left: 1px solid #C1DAD7;  
     border-top: 0;  
     background: #f5fafa  no-repeat;  
     font: bold 10px;  
     color: #797268;  
    }  
