<style>
*{margin:0;padding:0;border:0;outline:0;font-size:1em;list-style:none;font-weight:normal;text-decoration:none}
html
{
	background:#0d7bd5 url('glow.png') no-repeat center center;height:100%;
	_background:#0d7bd5
}
body
{
	color:#b7d4ec;color:rgba(255,255,255,.7);
	font:13px/22px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;text-shadow:0 1px 0 rgba(0,0,0,.3);position:relative;height:100%
}
body,label,input,textarea,select,button
{
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
#login
{
	width:480px;height:390px;position:absolute;top:50%;left:50%;margin:-195px 0 0 -240px
}
#login h1
{
	float:left;width:135px;height:99px;text-indent:-9999px;background:url('') no-repeat 0 0
}
#login form
{float:right;*width:262px}
.text
{display:block;width:250px;padding:10px 5px;margin:0 0 18px;font-size:14px;line-height:18px;background:#e8f4fc;border:1px solid #0d7bd5;color:#888;cursor:text;ime-mode:disabled;box-shadow:0 1px 0 rgba(255,255,255,.3),0 1px 3px rgba(0,0,0,.3) inset;background-clip:padding-box;border-radius:5px}
.button{background:#1e95e5;color:#b7d4ec;color:rgba(255,255,255,.7);box-shadow:0 1px 0 rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.15) inset;border:1px solid #147dcd;cursor:pointer;display:inline-block;font-size:14px;line-height:18px;text-shadow:0 1px 0 rgba(0,0,0,.2);padding:6px 15px;text-align:center;vertical-align:middle;border-radius:5px;float:left;*color:#b7d4ec}
.button:active{background:#1d8fdb;box-shadow:0 1px 0 rgba(255,255,255,.15)}
.button:focus{box-shadow:0 0 10px rgba(255,255,255,.5),0 1px 0 rgba(255,255,255,.15) inset}
.actions{float:right;margin:6px 0 0;display:block;*color:#b7d4ec}
.middot{padding:0 5px}
.reset,.remember_me{color:#b7d4ec;color:rgba(255,255,255,.7);*color:#b7d4ec}
.promo{clear:both;padding:120px 0 0}
.promo .reader{display:block;margin:0 auto;width:269px;height:111px;background:url('') no-repeat 0 0}
.promo .reader span{display:block;width:269px;height:111px;background:url('') no-repeat 30px center;text-indent:-9999px}
.promo .reader:hover{background:url('') no-repeat 0 -111px}
.promo .reader:active span{opacity:.8}
.reg{position:absolute;top:30px;right:40px}
.register{font-size:14px;color:#b7d4ec;color:rgba(255,255,255,.7);display:block;background:rgba(0,0,0,.1);padding:3px 15px;border-radius:50px;box-shadow:0 1px 0 rgba(255,255,255,.15),0px 1px 3px rgba(0,0,0,.2) inset;*color:#b7d4ec;*background:#0c6ebf}
.register:hover{background:rgba(0,0,0,.15)}
.footer{width:480px;text-align:center;position:absolute;bottom:-150px;color:#61aae2;text-shadow:0 1px 0 rgba(0,0,0,.1);font-size:12px;_color:#61aae2}
.footer a{color:#61aae2}
@media only screen and (max-device-width:480px){ 
#login{width:280px;height:auto;margin:0 auto;padding:30px 0 0 0;position:static}
#login h1{float:none;width:100%;background-position:center 0}
#login form{margin:0 auto;width:270px;padding:30px 0 0}
.button{-webkit-appearance:none}
.promo,.footer{display:none}
.reg{clear:both;position:static;width:200px;text-align:center;margin:0 auto;padding:30px 0}
}@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2)
{ #login h1{background-image:url('');-webkit-background-size:135px 99px}}

</style>
