<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>登录</title>
<link href="css.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="login">
<form class="login" action="/logincheck" method="post">
用户名：<input class="text" id="user" name="user" spellcheck="false" placeholder="用户名" autofocus="" tabindex="1">
密  码：<input class="text" id="passwd" name="passwd" placeholder="密 码" tabindex="2" type="password">
<input class="button" value="登 录" tabindex="3" type="submit">

</form>
<div class="promo">
</div>
<div class="footer">
</div>
</body></html>
